{% include 'doctors_header.html' %}
<br><br><br><br><br><br><br>


<style>
    center {
        margin-top: 20px;
    }

    table {
        width: 80%;
        margin-bottom: 20px;
        border-collapse: collapse;
    }

    th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #020202;
    }

    th {
        background-color: #e0d4d4;
    }

    input[type="text"],
    select,
    input[type="file"],
    input[type="date"] {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }

    input[type="submit"] {
        background-color: #4CAF50;
        color: rgb(0, 0, 0);
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #45a049;
    }
</style>

<center>
<form>
    <h1>Result Details</h1>
        <table>
            <tr>
             
                <th>File</th>
                <th>Output</th>
            </tr>
            {% for i in data['view'] %}
            <tr>
                <td><a href="/{{i['filedetails']}}" ><img src="/{{i['pre_image']}}" style="width: 250px;height: 250px"></a></td>
                <td>{{i['predicted']}}</td>
            </tr>
            {% endfor %}
        </table>
    </form>
</center>
{% include 'footer.html' %}
